@using static Weather.Models.ApiWeather
@model WeatherResponse
@{
    ViewData["Title"] = "Consultar Clima";
    
}

<h1>Consultar Clima</h1>

<form method="post" asp-controller="Home" asp-action="Index">
    <div>
        <label for="cityName">Nome da Cidade:</label>
        <input type="text" id="cityName" name="cityName" required />
    </div>
    <div>
        <label for="countryCode">Código do País (opcional):</label>
        <input type="text" id="countryCode" name="countryCode" placeholder="Ex: BR" />
    </div>
    <button type="submit">Consultar</button>
</form>

@if (ViewData["WeatherData"] != null)
{
    <div>
        <h2>Clima para: @Model.Name</h2>
        <p>Temperatura: @Model.Main.Temp °C</p>
        <p>Umidade: @Model.Main.Humidity%</p>
        <p>Condição: @Model.Weather[0].Description</p>
        <p>Sensação Térmica: @Model.Main.FeelsLike °C</p>
        <p>Máxima Térmica: @Model.Main.TempMax °C</p>
        <p>Minima Térmica: @Model.Main.TempMin °C</p>
    </div>
}
   
@if (!ViewData.ModelState.IsValid)
{
    <div style="color: red;">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
